# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/out
/public
.next
.nuxt
.svelte-kit
.cache

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs and databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.rpt2_cache/
.rts2_cache/
.docusaurus/
.serverless/
.dynamodb/

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db